@media screen and (min-width: 1280px) {
  .container {
    width: 1080px;
  }

  .header > .container {
    max-width: 1080px;
    width: 100%;
    border: none;
    display: flex;
  }

  .header {
  }

  .mobile-version-of-header-navigation {
    display: none;
  }

  .header-list {
    display: flex;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    gap: 40px;
  }
  .header-item:hover,
  .header-item:focus {
    color: var(--accent-color);
  }
  .header-btn {
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--text-color);
    border-radius: 5px;
    width: 238px;
    border: none;
  }

  .header-btn:hover,
  .header-btn:focus {
    color: var(--accent-color);
    background-color: var(--btn-color);
  }

  .bordered-section {
    margin-right: 20px;
    border: 1px solid #ffffff33;
    border-radius: 7px;
    width: 100%;
  }
  .header-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-link {
    margin-right: 97px;
  }
  /* HERO */

  .hero > .container {
    max-width: 1080px;
    width: 100%;
  }

  .hero {
    padding-top: 80px;
    padding-bottom: 150px;
  }

  .hero-border {
    padding-top: 80px;

    display: flex;
  }

  .hero-title {
    width: 563px;
    font-size: 64px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.04em;
    text-align: left;
  }

  .title-accent {
    font-size: 64px;
    line-height: 1.1;
    letter-spacing: -0.04em;
    text-align: left;
  }
  .hero-after-title {
    width: 418px;
    margin-bottom: 136px;
  }

  .main-hero-img {
    width: 397px;
    height: 520px;
  }

  .hero-desctope {
    display: flex;
    flex-direction: column;
  }

  /* ABOUT US */
  .about-us > .container {
    max-width: 1080px;
    width: 100%;
  }

  .about-us-title {
    font-weight: 500;
  }

  .about-us-img {
    margin-right: 40px;
    width: 488px;
    height: 260px;
    margin-bottom: 0;
  }

  .about-us-first-text,
  .about-us-second-text {
    width: 255px;
  }

  .about-us-wrap {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .about-us-text-wrap {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
  }
  /* OUR COURSES */

  .courses > .container {
    max-width: 1080px;
    width: 100%;
  }

  .courses {
    padding-top: 150px;
  }
  .courses-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.04em;
    text-align: left;
  }

  .courses-text {
    width: 405px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }

  .courses-text-wrap {
    display: flex;
    justify-content: space-between;
  }
  .courses-list {
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 20px;
  }
  .courses-item {
    width: calc((100% - 20px) / 3);
  }

  .courses-card-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: left;
    width: 278px;
  }
  .courses-card {
    padding: 32px;
  }

  .courses-card-title {
    width: 265px;
  }

  /* OUR MENTORS */
  .mentors > .container {
    max-width: 1080px;
    width: 100%;
  }

  .mentors {
    padding-top: 150px;
  }
  .mentors-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.04em;
    text-align: left;
  }

  .mentors-name {
    margin-bottom: 4px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    text-align: center;
  }

  .mentors-experience {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .mentors-list {
    justify-content: center;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 100px;
    row-gap: 93px;
    align-items: center;
  }
  .mentors-item {
    width: calc((100% - 279) / 4);
  }

  /* SIGN UP */

  .sign-up > .container {
    max-width: 1080px;
    width: 100%;
    display: flex;
    gap: 60px;
  }
  .sign-up-img {
    display: flex;
    align-items: flex-end;
    gap: 20px;
  }

  .sign-up {
    display: flex;
  }

  .sign-up-wrap {
    width: 480px;
  }

  .sign-up-big-img {
    width: 340px;
    height: 540px;
    background-color: #1d1d1d;
    border-radius: 1000px;
  }
  .img-container {
    width: 180px;
    height: 288px;
    background-color: var(--accent-color);
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* REVIEWS */

  .reviews > .container {
    max-width: 1080px;
    width: 100%;
  }

  .reviews {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .reviews-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: -0.04em;
    text-align: left;
  }

  .reviews-list {
    display: flex;
    gap: 20px;
  }

  .reviews-list .reviews-item:nth-child(2) {
    display: block;
  }

  /* FOOTER */

  .footer > .container {
    max-width: 1080px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .footer {
    padding-top: 50px;
    padding-bottom: 25px;
  }
  .adress-list {
    margin-right: 140px;
    display: flex;
    flex-direction: column;
  }

  .footer-policy {
    display: flex;
  }
  .footer-tablet-wrap {
    display: flex;
  }

  .footer-input {
    width: 150px;
  }
  .form-footer {
    margin-top: 0;
    display: flex;
  }

  .footer-list-wrap {
    margin-top: 0;
    margin-right: auto;
  }

  .adress-list-adress {
    width: 297px;
  }

  .footer-btn {
    margin-left: 16px;
  }
  .footer-input {
    padding-left: 10px;
    width: 216px;
  }
}
