body {
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  background-color: #121212;
}

:root {
  --accent-color: #bea69e;
  --text-color: #ffffff;
  --btn-color: #1d1d1d;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

/* HEADER */
.header > .container {
  display: flex;
  border: 1px solid #ffffff33;
  border-radius: 7px;
}
.header {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.bordered-section {
  justify-content: space-between;
  padding: 15px 20px 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}
.header-navigation {
  margin-right: auto;
}
.header-list {
  display: none;
}
.header-btn {
  display: none;
}

.modal-window-btn {
  border: none;
  background-color: transparent;
}
.header-photo-icon {
  width: 50%;
  height: 50%;
}

.mobile-version-of-header-navigation {
  display: flex;
  gap: 14px;
}

.header-mob-link {
  background-color: #1d1d1d;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-photo-icon:hover,
.header-photo-icon:focus {
  stroke: #bea69e;
}
.modal-window-btn {
  border: none;
  background-color: transparent;
}

/* HERO */

.hero > .container {
  max-width: 335px;
  width: 100%;
  background-color: var(--btn-color);
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 120px;
}
.hero-border {
  padding-top: 40px;
}
.hero-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: 20px;
}

.title-accent {
  font-size: 40px;
  font-style: italic;
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--accent-color);
}

.hero-after-title {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: left;
}

.hero-img {
  border-color: transparent;
  border-radius: 50%;
}
.hero-list-title {
  width: 67px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-align: left;
}

.hero-list-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hero-list-title:hover,
.hero-list-title:focus {
  color: var(--accent-color);
}
.arrow-icon {
  fill: white;
}

.arrow-icon:hover,
.arrow-icon:focus {
  fill: var(--accent-color);
}
.hero-list {
  margin-bottom: 4px;
  display: flex;
}

.hero-item {
  position: relative;
  margin-right: -10px;
}

.hero-item:last-child {
  margin-right: 0;
}
.hero-item .hero-img {
  width: 54px;
  height: 54px;
  border-color: transparent;
}

.hero-list-wrap {
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
}

.reviews-wrap {
  display: flex;
  gap: 12px;
}

.reviews-text {
  display: flex;
  flex-direction: column;
  column-gap: 4px;
}
.star-icon {
  fill: #121212;
}
.star-btn {
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-btn:hover,
.star-btn:focus {
  background-color: #ffffff80;
}
.hero-wrap {
  display: flex;
  gap: 40px;
}

.reviews-title {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  text-align: left;
  color: #ffffff80;
}

.reviews-count {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-align: left;
}

.main-hero-img {
  background-color: transparent;
}

.hero-img-wrap {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

/* ANIMATION */
/* .animation > .container {
  max-width: 337px;
  width: 100%;
}
.animation {
  padding-top: 20px;
  padding-bottom: 20px;
}
.animation-text {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.animation-text-accent {
  color: var(--accent-color);
} */

/* ABOUT US */

.about-us > .container {
  max-width: 335px;
  width: 100%;
}

.about-us-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: 40px;
}

.about-us-title-accent {
  color: var(--accent-color);
}
.about-us-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us-img {
  text-align: center;
  margin-bottom: 40px;

  width: 100%;
}

.about-us-img:hover {
  transform: scale(1.1);
}

.about-us-first-text,
.about-us-second-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.02em;
}

.about-us-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* OUR COURSES */

.courses > .container {
  max-width: 335px;
  width: 100%;
}

.courses {
  padding-top: 80px;
  display: flex;
}
.courses-list {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
}
.courses-title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  text-align: left;
}

.courses-title-accent {
  color: var(--accent-color);
}

.courses-text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: left;
}

.courses-card-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  text-align: left;
}

.courses-card-text {
  margin-top: 164px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: left;
  color: #ffffff80;
}
.courses-card {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 28px;
  border: 1px solid #ffffff33;
  border-radius: 5%;
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
}

.courses-card:hover {
  transform: scale(1.2);
}

.courses-card-pre-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 28px;
}

.courses-num {
  margin-right: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: left;
  color: #ffffff66;
}

.courses-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #1d1d1d;
  border: none;
}

.courses-btn:hover,
.courses-btn:focus {
  background-color: var(--accent-color);
}

/* OUR MENTORS */
.mentors > .container {
  max-width: 335px;
  width: 100%;
}

.mentors {
  padding-top: 80px;
}
.mentors-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  text-align: left;
}
.mentors-title-accent {
  color: var(--accent-color);
}

.mentors-name {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

.mentors-experience {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ffffff80;
}

.mentors-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
}

.mentors-img {
  margin-bottom: 16px;
  border-radius: 50%;
}

/* Блок картинки */
.rotate-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Изображение */
.change-img {
  width: 180px; /* Убедитесь, что ширина совпадает с изображениями */
  height: 180px;
  position: relative;
  perspective: 1000px; /* Углубление для 3D-эффекта */
}

/* Эффект переворота */
.change-img:hover .front-side-img {
  transform: rotateY(180deg);
}

.change-img:hover .back-side-img {
  transform: rotateY(0deg); /* Возвращаем заднюю сторону на место */
}

/* Стороны изображения */
.front-side-img,
.back-side-img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s; /* Время анимации */
  backface-visibility: hidden; /* Скрываем обратную сторону */
}

.front-side-img img,
.back-side-img img {
  max-width: 100%;
  max-height: 100%; /* Обеспечивает правильное масштабирование */
  height: auto;
}

/* Задняя сторона изображения */
.back-side-img {
  transform: rotateY(180deg); /* Начальное положение для задней стороны */
}

/* SIGN UP
.form {
  flex-direction: column;
  display: flex;
  gap: 12px;
  padding: 8px;
  border: 1px solid white;
  max-width: 300px;
}

.form-input {
  padding: 4px;
  color: #212121;
  border: 1px solid #212121;
  border-radius: 4px;
} */

/* SIGN UP */

.sign-up > .container {
  max-width: 335px;
  width: 100%;
}

.sign-up {
  padding-top: 80px;
}

.sign-up-title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-align: left;
}

.sign-up-accent {
  color: var(--accent-color);
}

.sign-up-after-title {
  margin-bottom: 41px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: left;
}

.sign-up-btn {
  margin-top: 32px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 12px;
}

.sign-up-btn:hover,
.sign-up-btn:focus {
  background-color: var(--btn-color);
  color: var(--accent-color);
}

/* LABEL */

.form {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.form-input {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;
  padding-right: 18px;
  color: #ffffff;
  width: 100%;
  background-color: transparent;
  border: 1px solid #ffffff33;
  border-radius: 12px;
}

.sign-up-img {
  display: none;
}

.form-input-message {
  resize: none;
}

.sign-up-privacy {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  text-align: left;
  color: #ffffff80;
}

.sign-up-privacy-link {
  text-decoration: underline;
}

/* REVIEWS */

.reviews > .container {
  max-width: 335px;
  width: 100%;
}

.reviews {
  padding-top: 80px;
  padding-bottom: 80px;
}

.reviews-list .reviews-item:nth-child(2) {
  display: none;
}

.reviews-section-title {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  text-align: left;
  color: #ffffff;
}

.reviews-img {
  border-radius: 50%;
}

.stars {
  fill: var(--accent-color);
}

.reviews-name {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
}

.reviews-prof {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-align: left;
  color: #ffffff80;
}

.reviews-section-text {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: left;
}

.reviews-item {
  padding: 20px;
  display: flex;
  border: 1px solid #ffffff33;
  border-radius: 12px;
}

.reviews-card-position {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.reviews-item-position {
  display: flex;
}

/* FOOTER */

.footer > .container {
  max-width: 335px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  position: relative;

  padding-top: 40px;
  padding-bottom: 20px;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff33;
}
.adress-list {
  display: flex;
  flex-direction: column;
}
.adress-list-tel {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  text-align: left;
}
.adress-list-tel:hover,
.adress-list-tel:focus {
  color: var(--accent-color);
}
.adress-list-adress {
  margin-bottom: 10px;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  text-align: left;
}
.adress-list-adress:hover,
.adress-list-adress:focus {
  color: var(--accent-color);
}
.footer-link {
  margin-bottom: 18px;
}

.footer-soc-list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.footer-list-wrap {
  margin-top: 40px;
  display: flex;
  gap: 40px;
}

.footer-soc-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  color: var(--accent-color);
}
.footer-link {
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.form-footer {
  margin-top: 75px;
}

.footer-input {
  border: 1px solid #ffffff;
  border-radius: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 18px;
  width: 230px;
}

.footer-btn {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #1d1d1d;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  border: none;
  align-items: center;
  text-align: center;
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #1d1d1d;
  color: var(--accent-color);
}
.footer-policy {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.footer-rights {
  display: flex;
  flex-direction: column;
}

.footer-policy-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  text-align: left;
}

.footer-rights-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  text-align: left;
}
