@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 704px;
  }

  .header > .container {
    max-width: 704px;
    width: 100%;
    border: none;
  }
  .header {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .header-mob-link {
    display: none;
  }
  .header-btn {
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--text-color);
    border-radius: 5px;
    width: 238px;
    border: none;
  }

  .header-btn:hover,
  .header-btn:focus {
    color: var(--accent-color);
    background-color: var(--btn-color);
  }

  .bordered-section {
    margin-right: 14px;
  }

  /* HERO */

  .hero > .container {
    max-width: 704px;
    width: 100%;
    display: flex;
  }

  .hero {
    padding-top: 40px;
    padding-bottom: 100px;
  }
  .hero-border {
    padding-top: 64px;
    padding-left: 32px;
  }
  .hero-list-wrap {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
  }
  .hero-list-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .hero-list {
    margin-bottom: 0;
  }
  .hero-title {
    width: 517px;
    font-size: 60px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.04em;
    text-align: left;
  }

  .title-accent {
    font-size: 60px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -0.04em;
  }
  .hero-after-title {
    width: 418px;
  }

  .main-hero-img {
    width: 393px;
    height: 434px;
  }

  .hero-list-wrap {
    gap: 12px;
  }

  .reviews-text {
  }

  .star-btn {
    width: 50px;
    height: 50px;
  }

  .reviews-title {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.04em;
    text-align: left;
  }

  .reviews-text {
    justify-content: space-evenly;
  }
  .hero-img-wrap {
    justify-content: flex-end;
  }
}
